@using PagedList
@using PagedList.Mvc
@using Blog_Web.Models.classes
@{
    ViewBag.Title = "sliderlist";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Title</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.SliderID</td>
            <td>@item.Title</td>
            <td><a href="/Admin/SliderGetir/@item.SliderID" class="btn btn-success">Güncelle</a></td>
            <td><a href="#" class="btn btn-info">Detay</a></td>
        </tr>
    }

</table>
@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("sliderlist", new { sayfa }), new PagedListRenderOptions
{
    LiElementClasses = new List<string>
    {"page-link"}
})


