
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    @*<h1>İletişim</h1>*@
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->
<!-- contact form -->
<div class="contact-from-section mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="form-title">
                    <h2>Soru, Görüş ve Önerilerini İletebilirsiniz. </h2>
                    <p>En kısa sürede dönüş sağlanacaktır. Anlayış sağladığınız için teşekkür ederiz.</p>
                </div>
                <div id="form_status"></div>
                @Html.Action("ContactForm", "Anasayfa")
            </div>
            
            
            <div class="col-lg-4">
                <div class="contact-form-wrap">
                    <div class="contact-form-box">
                        <h4><i class="fas fa-map"></i> Konum</h4>
                        <p>İstanbul ,  <br> Türkiye </p>
                    </div>
                    <div class="contact-form-box">
                        <h4><i class="fas fa-address-book"></i> Mail Adresi </h4>
                        <p>
                            Linkedin: &nbsp;&nbsp; &nbsp;  <a href="#"><i class="fab fa-linkedin" style="font-size:25px; color:black"></i></a> <br />
                            Mail:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  <a href="#"><i class="fab fa-google-plus-square" style="font-size: 25px; color: black"></i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end contact form -->
