
@{
    ViewBag.Title = "KategoriText";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">

                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->
<!-- latest news -->

<div class="latest-news mt-150 mb-150">
    <div class="container">

        <div class="row">

            <div class="col-lg-4 col-md-6">
                <div class="single-latest-news">
                    <a href="~/Anasayfa/SiberText/">
                        <div class="latest-news-bg news-bg-1">
                            <img src="~/Content/img/slider1.jpg" />
                        </div>
                    </a>
                    <div class="news-text-box">
                        <h3><a href="~/Anasayfa/SiberText/">Siber Güvenlik</a></h3>
                        <p class="blog-meta">
                            <span class="author"><i class="fas fa-user"></i> Admin</span>
                            <span class="date"><i class="fas fa-calendar"></i> @DateTime.Now.Year</span>
                        </p>
                        <p class="excerpt">Siber Güvenlik ile ilgili yazılarımı bu başlık altında bulabilirsiniz.</p>

                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-6">
                <div class="single-latest-news">
                    <a href="~/Anasayfa/SistemText/">
                        <div class="latest-news-bg news-bg-1">
                            <img src="~/Content/img/slider2.jpeg" />
                        </div>
                    </a>
                    <div class="news-text-box">
                        <h3><a href="~/Anasayfa/SistemText/">Sistem Uzmanlığı</a></h3>
                        <p class="blog-meta">
                            <span class="author"><i class="fas fa-user"></i> Admin</span>
                            <span class="date"><i class="fas fa-calendar"></i> @DateTime.Now.Year</span>
                        </p>
                        <p class="excerpt">Siber Güvenlik ile ilgili yazılarımı bu başlık altında bulabilirsiniz.</p>

                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-6">
                <div class="single-latest-news">
                    <a href="~/Anasayfa/NetworkText/">
                        <div class="latest-news-bg news-bg-1">
                            <img src="~/Content/img/slider3.jpg" />
                        </div>
                    </a>
                    <div class="news-text-box">
                        <h3><a href="~/Anasayfa/NetworkText">Network Uzmanlığı</a></h3>
                        <p class="blog-meta">
                            <span class="author"><i class="fas fa-user"></i> Admin</span>
                            <span class="date"><i class="fas fa-calendar"></i> @DateTime.Now.Year</span>
                        </p>
                        <p class="excerpt">Siber Güvenlik ile ilgili yazılarımı bu başlık altında bulabilirsiniz.</p>

                    </div>
                </div>
            </div>




        </div>
    </div>
</div>


