<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

    <!-- title -->
    <title>Blog Web Site</title>

    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="~/Content/img/logo.png">
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" href="~/Content/thema/fruitkha-package1.0/fruitkha/assets/css/all.min.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="~/Content/thema/fruitkha-package1.0/fruitkha/assets/bootstrap/css/bootstrap.min.css">
    <!-- owl carousel -->
    <link rel="stylesheet" href="~/Content/thema/fruitkha-package1.0/fruitkha/assets/css/owl.carousel.css">
    <!-- magnific popup -->
    <link rel="stylesheet" href="~/Content/thema/fruitkha-package1.0/fruitkha/assets/css/magnific-popup.css">
    <!-- animate css -->
    <link rel="stylesheet" href="~/Content/thema/fruitkha-package1.0/fruitkha/assets/css/animate.css">
    <!-- mean menu css -->
    <link rel="stylesheet" href="~/Content/thema/fruitkha-package1.0/fruitkha/assets/css/meanmenu.min.css">
    <!-- main style -->
    <link rel="stylesheet" href="~/Content/thema/fruitkha-package1.0/fruitkha/assets/css/main.css">
    <!-- responsive -->
    <link rel="stylesheet" href="~/Content/thema/fruitkha-package1.0/fruitkha/assets/css/responsive.css">

</head>
<body>

    <!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->
    <!-- header -->
    <div class="top-header-area" id="sticker">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 text-center">
                    <div class="main-menu-wrap">
                        <!-- logo -->
                        <div class="site-logo">
                            <a href="index.html">
                                <img src="~/Content/img/logo.png" alt="">
                            </a>
                        </div>
                        <!-- logo -->
                        <!-- menu start -->
                        <br />
                        <br />
                        <nav class="main-menu">
                            <ul>
                                <li class="current-list-item">
                                    <a href="~/Anasayfa/Home">Anasayfa</a>
                                </li>
                                <li>
                                    <a href="~/Anasayfa/Text">Makalelerim</a>
                                </li>
                                <li><a href="~/Anasayfa/About">Hakkımda</a></li>

                                <li><a href="~/Anasayfa/Contact">İletişim</a></li>
                                <li>
                                    <div class="header-icons">
                                        <a class="shopping-cart" href="#"><i class="fab fa-linkedin" style="font-size:25px;"></i></a>
                                        <a class="shopping-cart" href="#"><i class="fab fa-google-plus-square" style="font-size:25px;"></i></a>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                        <a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
                        <div class="mobile-menu"></div>
                        <!-- menu end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end header -->
    <!-- search area -->
    <div class="search-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <span class="close-btn"><i class="fas fa-window-close"></i></span>
                    <div class="search-bar">
                        <div class="search-bar-tablecell">
                            <h3>Search For:</h3>
                            <input type="text" placeholder="Keywords">
                            <button type="submit">Search <i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    @RenderBody()

    <!--<div class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box about-widget">
                        <h2 class="widget-title">Hakkımda</h2>
                        <p>Eğer benimle eğitim dışı herhangi bir konuda görüşmek isterseniz iletişim sayfasından bana ulaşabilir veya sosyal medya hesaplarımdan iletişime geçebilirsiniz.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box get-in-touch">
                        <h2 class="widget-title">Hızlı Erişim</h2>
                        <ul>
                            <li>İstanbul, Türkiye</li>
                            <li>support@gmail.com</li>
                            <li>+00 111 222 3333</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box pages">
                        <h2 class="widget-title">Sayfalar</h2>
                        <ul>
                            <li><a href="~/Anasayfa/Home">Anasayfa</a></li>
                            <li><a href="about.html">Hakkımda</a></li>
                            <li><a href="~/Anasayfa/Text">Yazılarım</a></li>
                            <li><a href="~/Anasayfa/Contact">İletişim</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-box subscribe">
                        <h2 class="widget-title">Sosyal Medya</h2>
                        <p>Sosyal Medya İle Benimle İletişime Geçebilirsiniz</p>
                        <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>&nbsp;&nbsp;
                        <a href="#" target="_blank"><i class="fab fa-twitter"></i>&nbsp;&nbsp;
                        <a href="#" target="_blank"><i class="fab fa-instagram"></i>&nbsp;&nbsp;
                        <a href="#" target="_blank"><i class="fab fa-linkedin"></i>&nbsp;&nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <!-- end footer -->
    <!-- copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <p> &copy; @DateTime.Now.Year - <a href="~/Anasayfa/Home">SolutionPartnerWhale</a>,  Tüm Hakları Saklıdır..</p>
                </div>
                <div class="col-lg-6 text-right col-md-12">
                    <div class="social-icons">
                        <ul>
                            <li><p>Site Hakkında iletişim için </p></li>
                            <li><a href="https://www.linkedin.com/in/k%C3%BCbra-kili%C3%A7/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- end copyright -->
    <!-- jquery -->
    <script src="~/Content/thema/fruitkha-package1.0/fruitkha/assets/js/jquery-1.11.3.min.js"></script>
    <!-- bootstrap -->
    <script src="~/Content/thema/fruitkha-package1.0/fruitkha/assets/bootstrap/js/bootstrap.min.js"></script>
    <!-- count down -->
    <script src="~/Content/thema/fruitkha-package1.0/fruitkha/assets/js/jquery.countdown.js"></script>
    <!-- isotope -->
    <script src="~/Content/thema/fruitkha-package1.0/fruitkha/assets/js/jquery.isotope-3.0.6.min.js"></script>
    <!-- waypoints -->
    <script src="~/Content/thema/fruitkha-package1.0/fruitkha/assets/js/waypoints.js"></script>
    <!-- owl carousel -->
    <script src="~/Content/thema/fruitkha-package1.0/fruitkha/assets/js/owl.carousel.min.js"></script>
    <!-- magnific popup -->
    <script src="~/Content/thema/fruitkha-package1.0/fruitkha/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- mean menu -->
    <script src="~/Content/thema/fruitkha-package1.0/fruitkha/assets/js/jquery.meanmenu.min.js"></script>
    <!-- sticker js -->
    <script src="~/Content/thema/fruitkha-package1.0/fruitkha/assets/js/sticker.js"></script>
    <!-- main js -->
    <script src="~/Content/thema/fruitkha-package1.0/fruitkha/assets/js/main.js"></script>

</body>
</html>